<div id="logo" class="middle aligned column" ">
    <img class=" ui centered large image" src="assets/images/BeerTalk_Logo.png" id="logo">
</div>
<!--end of image middle aligned column-->
<button class="ui button" id="readR">
    Search For Reviews 
</button>
<button class="ui button" id="writeR">
    Write A Review
</button>
<!-- WRITE A REVIEW -->
<<<<<<< HEAD
<form class="ui form" id="userReview">
=======
 {{!-- createRe instead of user? --}}
<form class="ui form" id=userReview>
>>>>>>> abccfacc8e7e63f88e634e528bcec1b89db97de0
    <div class="field">
        <input type="text" name="first-name" placeholder="PUB-lisher">
    </div>
    <div class="field">
        <input type="text" name="beer-name" placeholder="Name of Beer">
    </div>
    <div class="field">
        <input type="text" name="beer-type" placeholder="Type of Beer">
    </div>
    <div class="field">
        <input type="text" name="brewery" placeholder="Brewery">
    </div>
    <div class="field">
        <div class="field">
            <input type="text" name="review" maxlength="300" placeholder="Review">
        </div>
    </div>
    <button class="ui primary button" id="submitBtn" type="submit">Submit</button>
</form>
<!-- READ A REVIEW -->
<form class="ui form" id="readReview">
    <div class="field">
        <input type="text" name="first-name" placeholder="PUB-lisher">
    </div>
    <div class="field">
        <input type="text" name="beer-name" placeholder="Name of Beer">
    </div>
    <div class="field">
        <input type="text" name="beer-type" placeholder="Type of Beer">
    </div>
    <div class="field">
        <input type="text" name="brewery" placeholder="Brewery">
    </div>
    <div class="field">
        <button class="ui primary button" id="searchBtn" type="search">Search</button>
    </div>
</form>
{{!-- Have to insert login into modal to appear and disappear  --}}
{{!-- <form class="ui form" id="userLogin">
    <div class="field">
        <input type="text" name="username" placeholder="Username: you must be logged in to write a review">
    </div>
    <div class="field">
        <input type="password" placeholder="password">
    </div>
    <button class="ui button" id="next" type="submit">Login</button>
</form> --}}




