<div id="logo" class="middle aligned column" ">
    <img class=" ui centered large image" src="assets/images/BeerTalk_Logo.png" id="logo">
</div>
<!--end of image middle aligned column-->
<button class="ui button" id="readR">
    Read A Review
</button>
<button class="ui button" id="writeR">
    Write A Review
</button>
{{!-- <div class="ui form" id="reviewInput">
  <div class="field">
    <label>Write Your Beer Review</label>
    <input type="text">
  </div>
</div> --}}
<!-- WRITE A REVIEW -->
 {{!-- createRe instead of user? --}}
<form class="ui form" id=userReview>
    <div class="field">

        <input type="text" name="first-name" placeholder="PUB-lisher">
    </div>
    <div class="field">

        <input type="text" name="beer-name" placeholder="Name of Beer">
    </div>
    <div class="field">

        <input type="text" name="beer-type" placeholder="Type of Beer">
    </div>
    <div class="field">

        <input type="text" name="brewery" placeholder="Brewery">
    </div>
    <div class="field">

        <div class="ui star rating" data-rating="3"></div>
        <div class="field">
            <input type="text" name="review" maxlength="300" placeholder="Review">
        </div>
    </div>
    <button class="ui primary button" id="submitBtn" type="submit">Submit</button>
</form>
<!-- READ A REVIEW -->
<form class="ui form" id=readReview>
    <div class="field">

        <input type="text" name="first-name" placeholder="PUB-lisher">
    </div>
    <div class="field">

        <input type="text" name="beer-name" placeholder="Name of Beer">
    </div>
    <div class="field">

        <input type="text" name="beer-type" placeholder="Type of Beer">
    </div>
    <div class="field">

        <input type="text" name="brewery" placeholder="Brewery">
    </div>
    <div class="field">
        <button class="ui primary button" id="searchBtn" type="search">Search</button>
</form>
{{!-- Have to insert login into modal to appear and disappear  --}}
<form class="ui form">
    <div class="field">
        <label>Login To Write A Review</label>
        <input type="text" name="username" placeholder="Username: you must be logged in to write a review">
    </div>
    <div class="field">
        <input type="password" placeholder="password">
    </div>
    <button class="ui button" id="next" type="submit">Next</button>
</form>
