<div id="logo" class="middle aligned column" ">
    <img class=" ui centered large image" src="assets/images/BeerTalk_Logo.png" id="logo">
</div>
<!--end of image middle aligned column-->

<button class="ui button" id="readR">
    Read A Review
</button>
<button class="ui button" id="writeR">
    Write A Review
</button>