.list-group-item {
  line-height: 2.5;
}
 body {
   background: url('../assets/images/beer-background.jpg');
 }
#logo {
  margin-top: -15%;
  margin-bottom: auto;
}
.ui.button {
    margin-bottom: 2%;
    background: whitesmoke;
    color: #d2232a;
    font-family: inherit;
    margin-left: 37%;
    margin-top: 5%;
}
#writeR {
 margin-left: 2%;
}
.ui.button:hover {
background: #7e4115;
}

#userReview {
  width: 50%;
  margin: auto;
}

#readReview {
  width: 50%;
  margin: auto;
}

#submitBtn {
  position: relative;
}
